.wrapper {
  width: 100%;
}

.introParagraph {
  font-size: 1.2rem;
  padding: 0 20px 0 20px;
}

.flexContainer {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 15px 0 0 0;
}

.flexContainer > div {
  padding: 0 30px 50px 30px;
}

.columns {
  text-align: center;
}

svg {
  color: #249CBC;
}

a:hover > svg {
  color: #44BCDC;
}

/* Icons are not uniform in size... */
.slackIcon {
  padding: 27.5px 0 18.5px 0;
}

.mailIcon {
  padding: 0 0 16px 0;
}

.address {
  text-align: left;
  padding: 0 0 0 27px;
}
