.footer {
  background-color: #4A4A4A;
  height: 250px;
  padding: 0 20px;
  position: relative;
}

.footerContent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 100%;
}

/* outerFooterGroups class represents the NON logo columns of the footer flex container */

.outerFooterGroups {
  display: grid;
  grid-auto-flow: unset;
  text-align: center;
  text-align: -webkit-center;
  padding-bottom: 69px;
  padding-top: 28px;
  padding-left: 220px;
  padding-right: 25px;
  -ms-flex-pack: distribute;
  -ms-flex-align: center;
  align-items: left;
}

.footerEmail {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  text-align: center;
  hover: pointer;
}

.footerEmail a {
  color: #F7F7F7;
  text-align: center;
  text-decoration: none;
}

.footerLogo {
  height: 120px;
  padding-left: 20px;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.footerImg {
  padding-left: 30px;
  padding-right: 25px;
  padding-bottom: 0px;
}


.footerBlockGroup a:hover {
  font-weight: bold;
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.footerCopyright {
  color: #F7F7F7;
  font-size: 12.5px;
  font-weight: bold;
  font-family: sans-serif;
}

.footerCopyrightLineBreak {
  display: none;
}

.footerSocialMediaItem {
  padding: 15px 10px;
  opacity: 1.8;
}

.footerSocialMediaItem: img:hover {
  opacity: .8;
  hover: pointer;
}

.footerBlockGroup a {
  text-decoration: none;
  color: #F7F7F7;
  padding: 15px 30px;
  margin-top: 40px;
}

@media screen and (max-width: 1330px) {
  .outerFooterGroups {
    flex: 1 0 35%;
  }

  .footerImg {
    flex: 1 0 30%;
  }
}

@media screen and (max-width: 979px) {
  .copyrightLineBreak {
    display: block;
  }
}

@media screen and (min-width: 481px) and (max-width: 979px) {
  .footerImg > img {
    height: 100px;
  }

  .footerImg > p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .footerImg > p {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .outerFooterGroups {
    padding: 32px 0;
  }

  .footerBlockGroup {
    flex-direction: column;
    height: 100%;
  }
}

@media screen and (max-width: 616px) {
  .footerEmail {
    font-size: 0.8rem;
  }

  .footerBlockGroup {
    padding: 10px 10px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    height: 500px;
    padding: 0 16px;
  }

  .footerContent {
    display: block;
  }

  .outerFooterGroups {
    justify-content: center;
    flex: 1 0 auto;
    padding: 20px 0;
  }

  .footerEmail {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .footerImg img {
    height: 100px;
  }

  .footerBlockGroup {
    font-size: 1rem;
  }

  .footerBlockGroup a {
    padding: 10px 10px;
  }

  .footerBlockGroup ~ .blockGroup {
    margin-top: 10px;
  }
}








/*.footer {
  background-color: #4A4A4A;
  height: 250px;
  padding: 0 20px;
  position: relative;
}

.footerOuterFooterGroups {
    display: -ms-flexbox;
    display: grid;
    grid-auto-flow: unset;
    text-align: center;
    text-align: -webkit-center;
    padding-bottom: 69px;
    padding-top: 55px;
    padding-left: 15px;
    padding-right: 25px;
    -ms-flex-pack: distribute;
    -ms-flex-align: center;
    align-items: end;
}

.footer__copyright___F_L_L {
    color: #F7F7F7;
    font-size: 12.5px;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: -1px 2px 2px black;
}

.footerImg {
    height: 82px;
    padding-left: 225px;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

.outerFooterGroups {
    display: -ms-flexbox;
    display: grid;
    grid-auto-flow: unset;
    text-align: center;
    text-align: -webkit-center;
    padding-bottom: 96px;
    padding-top: 38px;
    padding-left: 20px;
    padding-right: 20px;
    -ms-flex-pack: distribute;
    -ms-flex-align: center;
    align-items: center;
}

.email {
  flex-direction: row;
  justify-content: center;
  color: white;
  text-align: center;
  hover: pointer;
}

.email a {
  color: #F7F7F7;
  text-align: center;
  text-decoration: none;
}

.footerImg {
  height: 120px;
  padding-left: 30px;
  padding-right: 25px;
  padding-bottom: 0px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.footerLogoCopyright {
    height: 120px;
    padding-left: 20px;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.blockGroup a {
  text-decoration: none;
  color: #F7F7F7;
  padding: 0 30px;
}

.blockGroup a:hover {
  font-weight: bold;
  transition-duration: 0.1s;
}

.copyright {
  color: #F7F7F7;
  font-size: 12.5px;
  font-weight: bold;
  font-family: sans-serif;
  align-self: auto;
}

.copyrightLineBreak {
  display: none;
}

.socialMediaItem {
    padding: 15px 10px;
    opacity: 1.8;
}

.socialMediaItem: img:hover {
  opacity: .8;
  hover: pointer;
}

.blockGroup a {
    text-decoration: none;
    color: #F7F7F7;
    padding: 15px 30px;
    margin-top: 40px;
}

.outerFooterGroups {
    display: -ms-flexbox;
    display: grid;
    grid-auto-flow: unset;
    text-align: center;
    text-align: -webkit-center;
    padding-bottom: 69px;
    padding-top: 55px;
    padding-left: 25px;
    padding-right: 25px;
    -ms-flex-pack: distribute;
    -ms-flex-align: center;
    align-items: end;
}

@media screen and (max-width: 1330px) {
  .outerFooterGroups {
    flex: 1 0 35%;
  }

  .logo {
    flex: 1 0 30%;
  }
}

@media screen and (max-width: 979px) {
  .copyrightLineBreak {
    display: block;
  }
}

@media screen and (min-width: 481px) and (max-width: 979px) {
  .logo > img {
    height: 100px;
  }

  .logo > p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .logo > p {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .outerFooterGroups {
    padding: 32px 0;
  }

  .blockGroup {
    flex-direction: column;
    height: 100%;
  }
}

@media screen and (max-width: 616px) {
  .email {
    font-size: 0.8rem;
  }

  .blockRow a {
    padding: 10px 10px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    height: 500px;
    padding: 0 16px;
  }

  .content {
    display: block;
  }

  .outerFooterGroups {
    justify-content: center;
    flex: 1 0 auto;
    padding: 20px 0;
  }

  .email {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .logo img {
    height: 100px;
  }

  .blockGroup {
    font-size: 1rem;
  }

  .blockGroup a {
    padding: 10px 10px;
  }

  .blockGroup ~ .blockGroup {
    margin-top: 10px;
  }
}*/
