.footer {
  background-color: #4a4a4a;
  height: 300px;
  padding: 0 20px;
  position: relative;
  font-size: 1.1rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

/* outerFooterGroup classes represent the NON logo columns of the footer flex container */
.outerFooterGroupLinks {
  display: flex;
  flex: 1 0 30%;
  flex-flow: row wrap;
  padding: 64px 0;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.outerFooterGroupSocial {
  display: flex;
  flex: 1 0 30%;
  flex-flow: column wrap;
  padding: 64px 0;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.email {
  flex-direction: row;
  justify-content: center;
}

.email a {
  color: #f7f7f7;
  text-align: center;
  text-decoration: none;
}

.logo {
  display: flex;
  flex: 1 0 40%;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 120px;
}

.blockGroup {
  display: flex;
  flex: 1 0 50%;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
}

.blockGroup a {
  text-decoration: none;
  color: #f7f7f7;
  margin: 0.75rem 0px;
}

.blockGroup a:hover {
  font-weight: bold;
  transition-duration: 0.1s;
}

.copyright {
  color: #f7f7f7;
  font-size: inherit;
  font-family: 'PF Din Display';
  text-align: center;
  min-width: 100%;
}

.copyrightLineBreak {
  display: none;
}

@media screen and (max-width: 1330px) {
  .outerFooterGroupSocial,
  .outerFooterGroupLinks {
    flex: 1 0 35%;
  }

  .logo {
    flex: 1 0 30%;
  }
}

@media screen and (max-width: 979px) {
  .copyrightLineBreak {
    display: block;
  }
}

@media screen and (min-width: 481px) and (max-width: 1100px) {
  .logo > img {
    height: 100px;
  }

  .logo > p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: 700px;
    padding: 2rem 1rem 1rem 1rem;
  }

  .content {
    display: block;
  }

  .outerFooterGroupSocial,
  .outerFooterGroupLinks {
    justify-content: center;
    flex: 1 0 auto;
    padding: 5px 0px;
  }

  .email {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .logo {
    margin: 1rem 0;
  }

  .copyright {
    margin: 0;
  }

  .logo img {
    height: 100px;
    line-height: 1.5;
    margin: 0 0 1rem 0;
  }

  .blockGroup {
    font-size: 1rem;
  }

  .blockGroup a {
    padding: 0px 0px 0px 6rem;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 616px) {
  .blockRow a {
    padding: 10px 10px;
  }

  .footer {
    height: 650px;
  }
}

@media screen and (max-width: 480px) {
  .blockGroup a {
    padding-left: 3rem;
  }

  .footer {
    padding-bottom: 50px;
  }
}
