.footer {
  background-color: #4A4A4A;
  height: 250px;
  padding: 0 20px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

/* outerFooterGroups class represents the NON logo columns of the footer flex container */
.outerFooterGroups {
  display: flex;
  flex: 1 0 30%;
  flex-flow: column wrap;
  padding: 64px 0;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.email {
  flex-direction: row;
  justify-content: center;
}

.email a {
  color: #F7F7F7;
  text-align: center;
  text-decoration: none;
}

.logo {
  display: flex;
  flex: 1 0 40%;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 120px;
}

.blockGroup {
  display: flex;
  flex: 1 0 50%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.blockGroup a {
  text-decoration: none;
  color: #F7F7F7;
  padding: 0 30px;
}

.blockGroup a:hover {
  font-weight: bold;
  transition-duration: 0.1s;
}

.copyright {
  color:#F7F7F7;
  font-size: inherit;
  font-family: 'PF Din Display';
  text-align: center;
  min-width: 100%;
}

.copyrightLineBreak {
  display: none;
}

@media screen and (max-width: 1330px) {
  .outerFooterGroups {
    flex: 1 0 35%;
  }

  .logo {
    flex: 1 0 30%;
  }
}

@media screen and (max-width: 979px) {
  .copyrightLineBreak {
    display: block;
  }
}

@media screen and (min-width: 481px) and (max-width: 979px) {
  .logo > img {
    height: 100px;
  }

  .logo > p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .logo > p {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .outerFooterGroups {
    padding: 32px 0;
  }

  .blockGroup {
    flex-direction: column;
    height: 100%;
  }
}

@media screen and (max-width: 616px) {
  .email {
    font-size: 0.8rem;
  }

  .blockRow a {
    padding: 10px 10px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    height: 500px;
    padding: 0 16px;
  }

  .content {
    display: block;
  }

  .outerFooterGroups {
    justify-content: center;
    flex: 1 0 auto;
    padding: 20px 0;
  }

  .email {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .logo img {
    height: 100px;
  }

  .blockGroup {
    font-size: 1rem;
  }

  .blockGroup a {
    padding: 10px 10px;
  }

  .blockGroup ~ .blockGroup {
    margin-top: 10px;
  }
}
