.footer {
  background-color: #4A4A4A;
  height: 225px;
  padding: 0 32px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.block {
  flex: 1 0 40%;
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.email {
  flex-direction: row;
  justify-content: center;
}

.email a {
  color: #F7F7F7;
  text-align: center;
  text-decoration: none;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 120px;
}

.blockGroup {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.blockGroup a {
  text-decoration: none;
  color: #F7F7F7;
  padding: 0 30px;
}

.copyright {
  color:#F7F7F7;
  font-size: 1rem;
  text-align: center;
}

.copyrightLineBreak {
  display: none;
}

@media screen and (min-width: 481px) {
  .logo {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1250px) {
  .copyrightLineBreak {
    display: block;
  }
}

@media screen and (min-width: 481px) and (max-width: 979px) {
  .logo > img {
    height: 100px;
  }

  .logo > p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .logo > p {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .block {
    padding: 32px 0;
  }

  .blockGroup {
    flex-direction: column;
    height: 100%;
  }
}

@media screen and (max-width: 616px) {
  .email {
    font-size: 0.8rem;
  }

  .blockRow a {
    padding: 10px 10px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    height: 500px;
    padding: 0px 16px;
  }

  .content {
    display: block;
  }

  .block {
    justify-content: center;
    flex: 1 0 auto;
    padding: 20px 0;
  }

  .email {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .logo img {
    height: 100px;
  }

  .blockGroup {
    font-size: 1.5rem;
  }

  .blockGroup a {
    padding: 0 10px;
  }

  .blockGroup ~ .blockGroup {
        margin-top: 16px;
  }
}
