/* Add a black background color to the top navigation */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.adBannerImage,
.adBannerImageFallback {
  width: 100%;
  border-top: 3px solid #41a4c0;
  border-bottom: 3px solid #41a4c0;
}

.adBannerImage   {
  display: flex;
  padding: 0px 10px 0px;
}

.adBannerText {  
  font-family: "Roboto", sans-serif; 
  font-size:18px;
}

.adBanner {
  background-color: #DBF0CC;
  border-color: #D0EEBA;  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  padding: 1rem;
}

/* Change the color of links on hover */
.adBanner:hover {
    background-color: #C9EEAF;   
    border-color: #C6EEA9; 
    color: black;
    cursor:pointer;
}

.adBannerImageFallback {
  display: none;
}

@media screen and (max-width: 450px) {
  .adBannerImage {
    display: none;
  }

  .adBannerImageFallback {
    display: block;
  }
}
