.login Section {
  align-self: center;
}
.Button {
  align-self: center;
  margin-top: 2rem;
  width: 100%;
}

.loginError {
  color:red;
}
select {
    border:1px solid #ccc;
    vertical-align:top;
}
input, select{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.resetBtn{
  text-align:right;
  margin-top:.5em;
}

.grid_row{
  display:flex;
  flex-direction: column;
}

@media screen and (min-width:780px){
  .grid_row{
    flex-direction:row;
  }

  .grid_row > div{
    width:50%;
    box-sizing: border-box;
  }
}