.login Section {
  align-self: center;
}
.Button {
  align-self: center;
  margin-top: 2rem;
  width: 100%;
}

.loginError {
  color:red;
}
select {
    border:1px solid #ccc;
    vertical-align:top;
    height:20px;
}
input, select{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
