.body {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 320px;
  z-index: 2;
  transition: left .25s ease-in-out;
}

.hidden {
  composes: body;
  left: -100%;
}

.visible {
  composes: body;
  left: 0;
}

.content {

  height: 100%;
  width: 100%;
}

@media screen and (max-width: 760px) {
  .body {
    display: block;
  }
}
