.landing {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  align-items: center;
  width: 100%;
}

.pageHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:10vw;
  text-align: center;
  padding-bottom:60px;
}

.pageHeading h1 {
  width: 80%;
  color: #fff;
  text-shadow: black 1px 0 15px;
  padding: 50px 0 25px 0;
}

@media screen and (max-width: 900px) {
  .pageHeading {
    margin-top: 0;
  }
  .pageHeading h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .pageHeading {
    margin-top: 0;
  }
  .pageHeading h1 {
    font-size: 18px;
  }
}
