.landing {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  align-items: center;
}

.pageHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:300px;
  margin-bottom:100px;
}

.pageHeading h1 {
  width: 80%;
}