.landing {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  align-items: center;
  width: 100%;
}

.pageHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vw;
  text-align: center;
  padding-bottom: 60px;
}

.pageHeading h1 {
  width: 80%;
  color: #fff;
  text-shadow: black 1px 0 15px;
  padding: 50px 0 25px 0;
}

.liveStreamModal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  margin: 10%;
  padding: 30px;
  background-color: #ddd;
  border: 2px solid black;
  border-radius: 20px;
}

.liveStreamModal_CloseButton {
  align-self: flex-end;
}

.liveStreamModal_CloseButton:hover {
  cursor: pointer;
  color: #249cde;
}

.liveStreamModal_Content {
  width: 70%;
  height: 70%;
}

@media screen and (max-width: 900px) {
  .pageHeading {
    margin-top: 0;
  }
  .pageHeading h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .pageHeading {
    margin-top: 0;
  }
  .pageHeading h1 {
    font-size: 18px;
  }

  .liveStreamModal {
    padding: 15px;
  }

  .liveStreamModal_Content {
    width: 90%;
    height: 90%;
  }
}
