.landing {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  align-items: center;
}

.pageHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:250px;
  text-align: center;
  padding-bottom:20px;
}

.pageHeading h1 {
  width: 80%;
  color: #fff;
}