.idmeButton {
  display:flex;
}

.discourseText {
  font-size: 1.5rem;
}

.discourseImage {
  width: 220px;
  margin-top: 50px;
}

.discourseImage:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
