.profileContainer {
  display: flex;
  justify-content: space-between;
}

.profileContainer__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
}

.profileContainer__cards > * {
  width: 25%;
}

.profileContainer__idMe {
  width: 30%;
  padding: 0 20px;
  text-align: center;
}

.profile__icon {
  height: 100px;
  width: 100px;
}

.profileContainer__idMe__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.profileContainer__idMe__title {
  font-size: 1.5rem;
}
