* {
  padding: 0;
  margin: 0;
  position: relative;
}

.quote {
  font-size: 3rem;
  background: #75818F;
  padding: 80px 80px;
  color: white;
  text-align: center;
}

.noMargin {
padding-top: 0;
}

.line {
  border: 1px solid white;
  width: 80%;
  margin: 0 auto;
}

.timeline {
  padding: 40px 0px;
  width: 80%;
  margin-bottom: 40px;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 40px;
  left: 65px;
  width: 3px;
  height: calc(100% - 50px);
  background: #41A4C0;
}

.timeline .column {
  margin: 40px 40px 40px 120px;
}

.timeline .column .title h1 {
  font-size: 60px;
  color: rgba(0,0,0,0.1);
  font-family: serif;
  letter-spacing: 3px;
  margin-bottom: 60px;
}

.timeline .column .title h2 {
  text-transform: uppercase;
  margin-top: -60px;
  font-size: 33px;
}

.timeline .column .title h1:before {
  content: "";
  position: absolute;
  left: -62px;
  top: 86px;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 3px solid #41A4C0;
}

.timeline .column .description p {
  font-size: 1.4rem;
  line-height: 20px;
  margin-left: 20px;
  margin-top: 10px;
  font-family: serif;
}

.timeline .column .description {
  border-left: 1px solid #000;
}

@media screen and (max-width: 850px) {
  .quote {
    font-size: 2rem;
  }

  .timeline .column .title h2 {
    font-size: 2rem;
  }

  .timeline .column .title h1 {
    font-size: 30px;
    margin-bottom: 60px;
  }

  .timeline {
    margin-left: -150px;
  }
}

@media screen and (max-width: 650px) {
  .quote {
    font-size: 1.5rem;
    padding: 40px;
  }

  .timeline .column {
    margin: 40px 10px 40px 120px;
  }

  .timeline .column .title h2 {
    font-size: 1.5rem;
  }
}
