.sectionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 100%;
  align-items: center;
  padding: 2.5% 0 2.5% 0;
}

.gray {
  background-color: #F0F2F2
}

.white {
  background-color: #FFF;
}

.margin {
  width: 80%;
}
