.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 15px 0;
}

.gray {
  background-color: #F0F2F2
}

.white {
  background-color: #FFF;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 7.5% 0 7.5% 0;
  }
}
