.section {
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 40px 0;
}

.gray {
  background-color: #F0F2F2
}

.white {
  background-color: #FFF;
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
