.partnerSchools {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.intro {
  padding: 0 0 2.5% 0;
}

.noteForSchoolReps {
  text-align: center;
  font-size: 1em;
  margin: 15px 0 0 0;
}
