.topNav {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 60%;
  font-size:20px;
}

.topNav a {
  margin: 1rem;
}

.topNav button {
  border: none;
  color: white;
  background: transparent;
  font-size: 1.3rem;
  position: relative;
  top: 0.1rem;
}

.topNav span a {
  flex: 0 1 auto;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .topNav {
    margin-right: 40px;
    font-size:16px;
  }
}

@media screen and (max-width: 760px) /* Tablet */ {
  .topNav {
    display: none;
  }
}
