.topNav {
  display: flex;
  justify-content: flex-end;
  flex: none;
  font-size:20px;
}

.topNav a {
  margin: 1rem;
}

.topNav button {
  border: none;
  color: white;
  background: transparent;
  font-size: 1.3rem;
  position: relative;
  top: 0.1rem;
}

.topNav span a {
  flex: none;
  text-align: right;
}

.topNav__topNav___2W-uf {
    display: -ms-flexbox;
    display: flow-root;
    -ms-flex-pack: unset;
    text-align: right;
    -ms-flex: 60%;
    flex: none;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .topNav {
    margin-right: 40px;
    font-size:16px;
  }
  .topNav a {
    margin: 0.7rem;
  }
}

@media screen and (max-width: 760px) /* Tablet */ {
  .topNav {
    display: none;
  }
}
