.topNav {
  display: flex;
  justify-content: space-between;
  flex: 1 60%;
  margin-right:80px;
  font-size:20px;
}

@media screen and (max-width: 979px) /* Tablet */ {
  .topNav {
    display: flex;
    justify-content: space-between;
    flex: 1 60%;
    margin-right:40px;
    font-size:16px;
  }
}