.flexContainer {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 15px 0 0 0;
}

.flexContainer > div {
  padding: 0 30px 50px 30px;
}

.column {
  width: 375px;
}

.column > h4 {
  text-align: center;
}

.mediaColumn {
  padding-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.mediaColumn > iframe,
.mediaColumn > img {
  padding: 25px;
}

.mediaColumn > img {
  width: auto;
  max-height: 368px;
}

/* Video iFrame Media Queries */
@media screen and (max-width: 960px) {
  .mediaColumn > iframe {
    width: 666px;
    height: 375px;
  }
}

@media screen and (max-width: 720px) {
  .mediaColumn > iframe {
    width: 444px;
    height: 250px;
  }
}

@media screen and (max-width: 480px) {
  .mediaColumn > iframe {
    width: 333px;
    height: 187.5px;
  }
}

/* Image and column width media queries */
@media screen and (min-width: 415px) and (max-width: 1280px) {
  .column {
    width: 300px;
  }

  .mediaColumn > img {
    width: 350px;
  }
}

@media screen and (max-width: 414px) {
  .column {
    width: 250px;
  }

  .mediaColumn > img {
    width: 300px;
  }
}
