.profileCard {
  width: 150px;
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 15px;
}

.profileCard__title {
  text-align: center;
}
