.topNav {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 60%;
  font-size: 20px;
}

.topNav a {
  margin: 1rem;
}

@media screen and (max-width: 1000px) {
  .topNav {
    margin-right: 40px;
    font-size:16px;
  }
  .topNav a {
    margin: 0.7rem;
  }
}

@media screen and (max-width: 779px) /* Tablet */ {
  .topNav {
    display: none;
  }
}
