.header {
  text-align: center;
  padding-bottom: 20px;
}

.cta {
  text-align: center;
}

.tickets {
  padding-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.tickets > div {
  margin-bottom: 20px;
  display: inline-block;
  width: 45%;
  max-width: 560px;
}

.desc {
  font-size: 0.8em;
}

.logoBox {
  margin: auto;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logoTall {
  width: auto;
  height: 30vh;
  margin: 1vw;
}

.logoLong{
  max-width: 20vw;
  height: auto;
  margin: 1vw;
}

.pvaLogo {
  max-width: 100%;
  height: auto;
}

.tyBanner {
  width:100%;
  margin-top: 3vh;
  border-top: 3px solid #47566B;
  border-bottom: 3px solid #47566B;
  background-color: #dce6f4;
  text-align: center;
}

@media screen and (min-width: 415px) and (max-width: 1280px) {
  .tickets > div {
    width: 375px;
  }
}

@media screen and (max-width: 414px) {
  .tickets > div {
    width: 300px;
  }
  .logoTall {
    width: auto;
    height: 30vh;
    margin: 3vw;
  }
  .logoLong{
    max-width: 90vw;
  }
}

iframe {
  border: 0;
}
