.facts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0;
}

@media screen and (max-width: 1024px) {
  .facts {
    display: block;
  }
}

.factsHeading h2 {
  width: 100%;
}

.factsList {
  flex: .48;
  color: #445366;
  font-size: 1.5rem;
}

.factsList ul {
  width: 80%;
  margin: 0 auto;
}

.factsList .footnote {
  font-size: 80%;
  font-style: italic;
  margin: 0 auto;
  text-align: left;
  width: 75%;
}

.factsRight {
  background-position: 90% 25%;
  border-radius: 40px;
  flex: .48;
  height: 50vh;
  margin-top: 65px;
  overflow: hidden;
}

@media screen and (max-width: 1150px) {
  .factsRight {
    background-position: 80% 25%;
  }
}

.factItem {
  padding-bottom: 24px;
}
