.burger {
  display: none;
}

.burger img {
  width: 1em;
  margin: 0;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 5px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 grey;
 }

 @media screen and (max-width: 779px) {
  .burger {
    display: block;
    position: absolute;
    right: 5%;
    top: 20px;
  }
}
