.outerAlt {
  background-color: #e3e3e3;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 5vw;
}

.half {
  width: 50%;
}

.photo {
  max-width: 500px;
  height: auto;
}

.button {
  display: block;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 680px) {
  .half {
    width: 350px;
    align-self: center;
  }
  .photo {
    max-width: 300px;
    height: auto;
  }
}

@media only screen and (min-width: 680px) and (max-width: 1111px) {
  .half {
    width: 40%;
    padding: 0;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin: 2vw;
  }
  .photo {
    max-width: 100%;
    height: auto;
  }
}
