.wrapper {
  display: flex;
}

.half {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.photo {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listItem {
  display: flex;
  align-items: center;
}

.itemText {
  margin-left: 20px;
}

.button {
  margin-top: 1rem;
}

@media only screen and (min-width: 1112px) {
  .half {
    padding: 2rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1111px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .half {
    padding: 1rem 0;
    width: 100%;
  }
}
