.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 5vw;
}

.half {
  width:50%;
}

@media only screen and (min-width:320px) and (max-width:480px){
  .half{
    width:100%;
  }
  li.check{
    margin-top: 70px;
    line-height: normal;
  }
  li.check:last-of-type{
    margin-bottom:10px;
  }
}
@media only screen and (min-width: 768px) and (max-width:1024px){
  .half{
    width:40%;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin: 2vw;
  }
  li.check{
    margin-top: 80px;
    line-height: normal;
  }
  li.check:nth-of-type(2){
    margin-top: 80px;
  }
  li.check:last-of-type{
    padding-bottom:10px;
  }
}

ul{
  list-style-type: none;
  padding:0;
}

li.check{
  background: url('../check.svg') 20px no-repeat;
  height:40px;
  padding-left:75px;
  margin-top: 30px;
  line-height: normal;
}

li.check:first-child{
  margin-top:0;
}


.button {
  display: block;
  margin: 0 auto;
  text-align: center;
}
