.logos a {
  color: #249cbc;
  text-decoration: none;
}

@media screen and (min-width: 415px) and (max-width: 1280px) {
  .logos > .imgBox {
    width: 350px;
  }
}

@media screen and (max-width: 414px) {
  .logos > .imgBox {
    width: 300px;
  }
}
