.modal h2 {
  margin: 0;
}
.modal p {
  margin: 0 0 1rem;
}
.modal {
  align-content: left;
}

.modal form {
  width: 100% !important;
}

.modal button {
  width: 100% !important;
  margin: 1rem 0;
}
