.squadNew {
  width:100%;
}

.squadNewForm span {
  font-size:14px;
}

.squadNewForm select {
  margin-top: 16px;
  height: 50px;
  font-size: 1.3em;
}

.squadNewForm {
  max-width:500px;
  margin:auto;
  border: 1px solid rgb(92,105,122);
  padding: 10px;
  min-height:550px;
}

.submitButton {
  align-self: flex-end;
  margin-top: 10px;
}

.squadNewError {
  background-color: #ffc2c2;
  border-radius: 0.25rem;
  color: red;
  margin-bottom: 1rem;
  max-width: 500px;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
