.filterButtonDiv {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  justify-content: space-around;
  padding-top: 15px;
}

/* Space between buttons for vertical, single column */
.filterButtonDiv > * {
  margin: 2.5% 0;
}
