.filterButtonDiv {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  justify-content: space-around;
  padding-top: 10px;
}

/* Space between buttons for vertical, single column */
.filterButtonDiv > a {
  margin: 2% 1%;
}
