.heroContainer {
  display: flex;
  flex-flow: column;
}

.pageHeading {
  text-align: center;
  padding: 15px 30px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.pageHeading h1 {
  font-weight: normal;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 462px) {
  .btnContainer {
    flex-flow: column;
  }
}

.embedContainer {
  width: 100%;
  box-sizing: border-box;
}

.embedContainer p {
  margin: 0.5em 0;
  padding: 0 5px;
  font-size: 1em;
}

.embedVideo {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
}

.embedContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 780px) {
  .heroContainer {
    flex-flow: row;
    align-items: center;
    width: 90%;
  }

  .pageHeading {
    width: 50%;
    text-align: right;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
  }

  .btnContainer {
    justify-content: flex-end;
  }

  .embedContainer {
    width: 50%;
    margin: 4em 0;
    padding: 0 0 0 30px;
  }

  .embedVideo {
    box-shadow: 1px 1px 6px #777777;
  }

  .embedContainer p {
    padding: 0;
  }
}

@media screen and (min-width: 1320px) {
  .heroContainer {
    width: 80%;
  }

  .pageHeading h1 {
    font-size: 4em;
    line-height: 1em;
  }

  .pageHeading p {
    max-width: 600px;
    font-size: 1.5em;
  }
}
