.boardCard {
  min-height: 300px;
  width: 190px;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 1rem;
  padding: 15px;
}

.boardCard:hover {
  box-shadow: 0 9px 28px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease-in-out;
}

.boardCard:hover .descriptionText {
  display: block;
  opacity: 1;
}

.boardCard:hover > img {
  filter: grayscale(0%);
}

.boardCard > img {
  height: 125px;
  width: 125px;
  border-radius: 100%;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1);
  filter: grayscale(100%);
  transition: filter 0.3s linear;
}

.noTextWrap {
  white-space: nowrap;
}

.hr {
  border-top: 1px solid #8c8b8b;
  width: 80%;
}

.descriptionText {
  opacity: 0;
  display: none;
  align-self: left;
}
