.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: #000 1px 0 15px;
  color: white;
  height: 480px;
}

.bannerText {
  width: 80%;
}

.serviceSealWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 85%;
}

.serviceSeal {
  height: 100px;
  width: 100px;
  padding: 10px;
}

.coreValues {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 85%;
}

@media screen and (max-width: 465px) {
  .serviceSeal {
    height: 75px;
    width: 75px;
  }
}
