.mentorRequest {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .intro {
    padding: 0 1rem;
  }
}

.form {
  max-width: 90%;
  margin: auto;
  border: 1px solid rgb(92,105,122);
  padding: 10px;
  height: 100%;
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.formBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
  padding: 1rem;
  margin-top: .5rem;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .formBlock {
    margin-top: 1rem;
    padding: 1rem 0;
    width: 100%;
  }
}

.formBlockNoPrompt {
  composes: formBlock;
}

.label {
  display: flex;
  font-size: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 768px) {
  .label {
    height: auto;
    line-height: 1em;
    display: block;
  }
}

.subLabel {
  font-size: 0.7em;
  margin-left: 6px;
  align-self: flex-end;
  line-height: 0.7em;
  font-weight: normal;
}

.formBlock input[type=text],
.formRow input[type=text] {
  background-color: #fff;
  border-radius: 4px;
  height: 52px;
  margin-top: 10px;
}

.formBlockNoPrompt input[type=text] {
  margin-top: 14px;
}

/* begin setting input styles to match React-Select styles  */
.formBlock input[type=text]:not([class^="formInput__error"]),
.formRow input[type=text]:not([class^="formInput__error"]) {
  border-color: #d9d9d9 #ccc #b3b3b3;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
}

.formBlock input[type=text]::placeholder,
.formRow input[type=text]::placeholder {
  color: #aaa;
}

.formBlock input[type=text]:not([class^="formInput__error"]):hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.formBlock input[type=text]:focus,
.formBlock input[type=text]:focus:hover {
  border-color: #007eff;
  border-style: solid;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  background: #fff;
  outline: none;
}
/* finish settting input styles to match React-Select styles */

.select {
  margin-top: 10px;
}

.prompt {
  font-size: inherit;
  margin: 10px 0 0 0;
}

@media screen and (max-width: 768px) {
  .prompt {
    margin: .5em 0 0 0;
  }
}

.formRow {
  width: 100%;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .formRow {
    margin-top: 1rem;
  }
}

.formRow input[type=text] {
  width: 100%;
}

.joinButton {
  align-self: flex-end;
  margin-top: 20px;
  width: 100%;
}

.error {
  background-color: #ffc2c2;
  border-radius: 0.25rem;
  color: red;
  margin: 1rem auto;
  max-width: 500px;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .error {
    padding: 1rem;
  }
}
