.mentorRequest {
  width: 100%;
}

.intro {
  padding: 0 1rem;
}

.form {
  max-width: 90%;
  margin: auto;
  border: 1px solid rgb(92,105,122);
  padding: 10px;
  height: 100%;
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.formBlock {
  width: 50%;
  margin-top: 0.5rem;
  padding: 1rem;
}

.formBlock h2,
.formRow h2 {
  font-size: 1.5rem;
  height: 1.5rem;
}

/* begin setting input styles to match React-Select styles  */
.formBlock input[type=text],
.formRow input[type=text] {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  margin-top: 12px;
}

.formBlock input[type=text]::placeholder,
.formRow input[type=text]::placeholder {
  color: #aaa;
}

.formBlock input[type=text]:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.formBlock input[type=text]:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  background: #fff;
  outline: none;
}
/* finish settting input styles to match React-Select styles */

.select {
  margin-top: 10px;
}

.prompt {
  display: flex;
  align-items: center;
  font-size: inherit;
  height: 48px;
  margin: 10px 0 0 0;
}

.formRow {
  width: 100%;
  padding: 1rem;
}

.formRow input[type=text] {
  width: 100%;
}

.joinButton {
  align-self: flex-end;
  margin-top: 20px;
  width: 100%;
}

.error {
  background-color: #ffc2c2;
  border-radius: 0.25rem;
  color: red;
  margin-bottom: 1rem;
  max-width: 500px;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .mentorRequestForm {
    flex-direction: row;
  }

  .formBlock {
    width: 100%;
  }
}
