.imageCard {
  display: flex;
  flex-flow: row wrap;
  max-width: 600px;
  justify-content: center;
  min-height: 250px;
  align-items: center;
  width: 100%;
}

.image {
  height: 200px;
  width: 300px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
  background-color: #FFF;
}

.cardText {
  width: 80%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardText h2 {
  align-self: center;
}

.cardText p {
  align-self: center;
  margin: 0;
  padding: 0;
  font-size:14px;
}

/* Vertical space between cards for vertical layout */
@media screen and (max-width: 599px) {
  .imageCard {
    padding: 5% 0;
  }
}