.header {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: rgb(117,129,143);
  padding: 1rem, 1rem;
  position: fixed;
  z-index: 998;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1rem, 1rem;
  height: 60px;
  margin: 4rem;
}

.logo img {
  height: 50px;
  padding: 40px;
  align-self: left;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.52);
  position: relative;
  transition: opacity 0.5s ease-in-out, top;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  width: stretch;
}

.burger img {
  width: 1em;
  margin-bottom: 40px;
  margin-left: 40px;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 5px;
  align-self: left;
  opacity: 0.5;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 grey;
 }
