.linkButton {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  color: #ddd;
  padding: 8px;
  margin:5px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 200px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.red {
  background-color: #D1665A;
  border-color: #D1665A;
  color: #FFF;
  cursor: pointer;
}

.red-large {
  background-color: #D1665A;
  border-color: #D1665A;
  color: #FFF;
  font-size: 1.5rem;
  padding: 20px 40px;
  cursor: pointer;
}

.red:hover {
  background-color: #F1665A;
  border-color: #F1665A;
  cursor: pointer;
}

.blue {
  background-color: #249CBC;
  border-color:#249CBC;
  color: #fff;
  cursor: pointer;
}

.blue:hover {
  background-color: #249CDE;
  border-color: #249CDE;
  cursor: pointer;
}

.blue-large {
  background-color: #249CBC;
  border-color: #249CBC;
  color: #FFF;
  font-size: 1.5rem;
  padding: 20px 40px;
  cursor: pointer;
}
