.burger {
  display: none;
}

.burger img {
    width: 40px;
    margin: 0;
 }

 @media screen and (max-width: 760px) {
  .burger {
    display: block;
    position: absolute;
    right: 0;
    margin: 0;
    margin-right: 7px;
    padding: 0 4px 0 4px;
  }
}
