.videos {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.triGroupContainer {
  width: 100%;
  display: flex;
  /* align-items: center; */
  flex-direction: row;
  justify-content: space-around;
}

.clickableLogo {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* iframe {
  padding: 25px;
} */

.medalLogos {
  margin: 1em;
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  height: 380px;
  align-content: center;
  justify-content: center;
}

.medalLogos img {
  display: flex;
  align-content: center;
  height: 70%;
  width: 70%;
}

/* Video iFrame Media Queries */
@media screen and (max-width: 960px) {
  iframe {
    width: 666px;
    height: 375px;
  }
  .medalLogos {
    max-height: 375px;
  }
}

@media screen and (max-width: 720px) {
  iframe {
    width: 444px;
    height: 250px;
  }

  .medalLogos {
    max-height: 250px;
  }
}

@media screen and (max-width: 480px) {
  iframe {
    width: 333px;
    height: 187.5px;
  }
  .medalLogos {
    max-height: 187.5px;
  }
}
