.whatWeDoContent {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.whatWeDoContent a {
  text-decoration: none;
}

.whatWeDoContent a:visited {
  color: #47566B;
}
