.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.main {
    display: flex;
    flex: 1;
}

.main > div {
    width: 100%;
}

.homeImage {
    height:300px;
}

.backgroundImage {
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .backgroundImage {
    background-size: auto 17%;
  }
}

@media screen and (max-width: 1000px) {
  .backgroundImage {
    background-size: auto 15%;
  }
}

@media screen and (max-width: 800px) {
  .backgroundImage {
    background-size: auto 8%;
  }
}

@media screen and (max-width: 500px) {
  .backgroundImage {
    background-size: auto 5%;
  }
}
