.home {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url("images/Family-2.png");
    background-size: 100%;
    background-repeat: no-repeat;

    overflow: hidden;
}

@media screen and ( max-width: 900px; ) {
  .home {
  }
}

.main {
    display: flex;
    flex: 1;
}
