.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.main {
    display: flex;
    flex: 1;
}

.homeImage {
    height:300px;
}

.backgroundImage {
    background-size: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 599px) {
  .backgroundImage {
    background-size: 600px auto;
    background-position: center 0;
    background-attachment: fixed;
  }
}