.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  line-height: 20px;
  font-size:36px;
  color:rgb(74,74,74);
 }

.heading:before,
.heading:after {
  flex-grow: 1;
  height: 3px;
  content: '\a0';
  background-color: rgb(65, 164, 192);
  vertical-align: text-bottom;
  align-self: flex-end;
}

.heading:before {
  margin-right:10px;
}

.heading:after {
  margin-left:10px;
}