.heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.headingLines:before,
.headingLines:after {
  flex-grow: 1;
  height: 3px;
  content: '\a0';
  background-color: rgba(0, 0, 0, 0.91);
  align-self: center;
  margin: 0 10px 5px 10px;
}

.dark {
  color: rgba(0, 0, 0, 0.91);
}

.white {
  color: #FFF;
}


@media screen and (max-width: 650px) {
  .heading {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: 1.5em;
  }
}
