.schoolCard {
  display: flex;
  border-radius: 4px;
  align-items: center;
  margin: 25px 10px;
  padding: 10px;
  width: 375px;
  height: auto;
  background: #fff;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.schoolCard p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.schoolCard:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.schoolCardImage {
  width: 155px;
  height: 165px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.logo {
  width: 150px;
  height: auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
}

.schoolText {
  line-height: 1;
  padding-left: 15px;
  align-items: center;
}

.schoolName {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: .15;
}

.schoolName a {
  text-decoration: none;
  line-height: 1.1;
  align-items: center;
}

.schoolLocation {
  font-style: italic;
  align-items: center;
  font-size: .97rem;
  line-height: 1.31;
}

.schoolLocation a {
  text-decoration: none;
}

.schoolInfo {
  font-size: 0.99rem;
  line-height: 1.1;
  align-items: center;
}

@media screen and (max-width: 350px) {
  .schoolCard {
    width: auto;
    height: auto;
  }
}
