
.serviceSealWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	padding-top: 2%;
}

.serviceSeal {
	height: 75px;
	width: 75px;
}

.paragraph {
	font-size: 1.3rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

.team {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding-left: 5rem;
  padding-right: 5rem;
}

