.serviceSealWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding-top: 2%;
}

.serviceSeal {
  height: 75px;
  width: 75px;
}

.paragraph {
  font-size: 1.3rem;
  padding: 0 40px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 170px;
}

@media screen and (max-width: 1200px) {
  .board {
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 850px) {
  .board {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 800px) {
  .board {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 650px) {
  .serviceSealWrapper {
    flex-wrap: wrap;
  }
}
