.team {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}

