.intro {
  font-size: 18px;
  font-family: 'Noto Serif';
  width: 80%;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0;
  padding: 0;
}

.list li {
  width: 205px;
  list-style: none;
  margin: 0;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.list li span {
  padding-bottom: 20px;
}

.list li p {
  font-size: 25px;
}

.icon {
  height:100px;
  padding-bottom: 20px;
}
