.intro {
  padding: 0 0 2.5% 0;
}

.eSchools {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.moocs {
  padding: 2.5% 0 2.5% 0;
}

.moocs h3 {
  text-align: center;
  font-size: 1.8rem;
}

.moocCards {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.leadingParagraph {
  font-size: 1.4rem;
}

.boxShadow {
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}