.heroBanner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  height: 70vh;
  width: 100%;
}

.header {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 4rem;
}

@media only screen and (max-width: 1024px) {
  .heroBanner {
    height: 40vh;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 2rem;
  }
}
