.brandingConatiner{
  width: 100%;
  height: 100%;
  background-color: #f0f2f2;
}
.brandingFonts{
  text-align: center;
  margin: 3em 0;
}
.brandingFonts img{
  max-width: 90%;
}
.brandingFonts a{
  color: #249cbc;
  text-decoration: none;
}
