.iconList {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.characteristics {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
}

.iconContainer {
  display: flex;
  justify-content: center;
  padding: 0 25px 0 0;
  min-width: 75px;
}
