.content {
  padding: 16px;
}

.header {
  display: flex;
  flex-direction: column;
}

.close {
  color: #fff;
  font-size: 26px;
  padding: 6px; /*to increase clickability on mobile*/
  text-decoration: none;
}

.logoWrapper {
  text-align: center;
}

.logo {
  margin: 16px auto;
  max-width: 75%;
  max-height: 40px;
  width: auto;
  height: auto;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 16px;
}

.item {
  color: #F7F7F7;
  font-size: 60px;
}

.item ~ .item {
  margin-top: 16px;
}

.list span {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 1rem;
}
