.content {
  background-color: black;
  background-color:rgba(47,52,72,.95);
  height: 100%;
  width: 100%;
  position: fixed;
}

.header {
  display: flex;
  flex-direction: column;
}

.close {
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  position: absolute;
  right: 5%;
  top: 22px;
  padding-right: 10px;
  line-height: 1;
}

.logoWrapper {
  text-align: center;
}

.logo {
  max-width: 75%;
  max-height: 40px;
  position: absolute;
  top: 20px;
  left: 5%;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding: 30px 5%;
  border-top: 1px solid #fafafa;
  font-size: 40px;
}

.item {
  color: #F7F7F7;
}

.item ~ .item {
  margin-top: 16px;
}

.list span {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 1.75rem;
  position: relative;
}

.navButton {
  background: transparent;
  border: none;
  color: white;
  text-align: left;
  font-size: 2.5rem;
  margin: 0.5rem 0;
  padding: 0;
}

@media screen and (orientation: landscape) {
  .content {
    position: absolute;
  }
  .list {
    font-size: 20px;
  }
}