.content {
  padding: 16px;
}

.header {
  display: flex;
  flex-direction: column;
}

.close {
  color: #fff;
  font-size: 20px;
}

.logo {
  margin: 16px auto;
  max-width: 75%;
  max-height: 40px;
  width: auto;
  height: auto;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 16px;
}

.item {
  color: #F7F7F7;
  font-size: 60px;
}

.item ~ .item {
  margin-top: 16px;
}