.teamCard {
  border-radius: 4px;
  align-items: center;
  text-align: center;
  margin: 20px 10px;
  padding: 10px;
  width: 185px;
  height: 110px;
  background: #F0F2F2;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.teamCard:hover {
  box-shadow: 0 9px 28px rgba(0,0,0,0.25);
}

.name {
  text-transform: uppercase;
  font-weight: 800;
}

.role {
  font-size: .8rem;
}

@media screen and (max-width: 440px) {
  .teamCard {
    width: 100px;
  }
}
