
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

@font-face {
  font-family: 'PF Din Display';
  font-weight: normal;
  src: url('fonts/PFDinDisplayPro-Reg.ttf');
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", sans-serif;
  font-weight: normal;
  color: #47566B
}

h1, h2, h3, h4, h5, h6, a, button {
  font-family: 'PF Din Display'
}

/*16px*/
body {
  font-size: 1rem;
}

/*40px*/
h1 {
  font-size: 2.5rem;
}

@media only screen and (min-device-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-device-width: 480px) {
  html {
    font-size: 62.5%;
  }
}

#root {
  min-height: 100%;
}
