@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@font-face {
  font-family: 'PF Din Display';
  font-weight: normal;
  src: url('fonts/PFDinDisplayPro-Reg.ttf');
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #47566B;
}

h1, h2, h3, h4, h5, h6, a, button {
  font-family: 'PF Din Display';
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  hyphens: none;
}


/*40px*/

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.7rem;
}

h6 {
  font-size: 1.5rem;
}

#root {
  min-height: 100%;
}

.ScrollUpButton {
  position: fixed;
  bottom: 50;
  right: 30;
  cursor: pointer;
  transitionDuration: 0.2s;
  transitionTimingFunction: linear;
  transitionDelay: 0s;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 481px) and (max-width: 960px) {
  html {
    font-size: 15px;
  }
}
