.parent {
  display: inline-block;
}

.children {
  position: absolute;
}

.child {
  display: block;
}

.opaque {
  background-color: rgb(117,129,143);
}

@media screen and (max-width: 760px) {
  .children {
    position: relative;
  }

  .opaque {
    background: none;
  }
}
