.donateSection {
  background-image: url('images/General-Flag.jpg');
}

.donate {
  width:80%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.donate p {
  max-width:700px;
  font-size:20px;
  color:#fff;
}
