.partnersSection {
  flex-flow: row wrap;
  justify-content: space-around;
}

.partnersLeft, .partnersRight {
  width:auto;
  max-width: 50%;
  min-width:400px;
}
.partners {
  min-width:400px;
  max-width: 50%;
  font-size:16px;
  display:flex;
  justify-content: center;
}

.partners p {
  display: block;
  width:80%;
}

.partnersLogos {
  min-width:400px;
  display:flex;
  justify-content: center;
}