.hero {
  background-image: url('./raleigh.jpg');
}

.heading {
  color: #47566b;
  margin: 10%;
}

.textLink {
  color: #47566b;
  font-size: 1.2em;
}

.textLink:hover {
  color: #d1665a;
  font-size: 1.2em;
}
