.hero {
  background-image: url('./OpCodeCon_graphics.png');
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1100px) {
  .hero {
    background-size: 100%;
  }
}

@media screen and (min-width: 500px) and (max-width: 1100px) {
  .hero {
    background-size: 80%;
    padding-top: 20%;
    background-position: top;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    background-size: 100%;
    padding-top: 115px;
    background-position: top;
  }
}

.heading {
  color: #249cbc;
  text-align: center;
  padding-top: 25%;
  height: 600px;
}

@media screen and (max-width: 768px) {
  .heading {
    height: 450px;
  }
}
