.cmon_man {
  /*border-bottom: gray solid 1px;
  margin: 20px 15px 0px 15px;*/
  position: relative;
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  margin: 1rem 0;
  padding: 1em 1em;
  border-radius: .28571429rem;
  border: 1px solid rgba(34,36,38,.15);
}
