.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.accordion {
  line-height: 1.5;
  max-width: 80%;
}	

.paragraph {
	font-size: 1.5rem;
}

.headline {
	font-size: 1.7rem;
	font-weight: 800rem;
	margin: 2rem 0;
}
