.flexContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 15px 0 0 0;
}

.flexContainer > div {
  padding: 0 30px 50px 30px;
}

.column {
  width: 375px;
}

.column > h4 {
  text-align: center;
}

.brandingLink {
  font-size: 1.5rem;
}

@media screen and (min-width: 415px) and (max-width: 1280px) {
  .column {
    width: 300px;
  }
}

@media screen and (max-width: 414px) {
  .column {
    width: 250px;
  }
}
