.header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: rgb(117,129,143);
  padding: 0 2rem;
}

.logo {
  display: flex;
  align-items: center;
  height: 60px;
  margin-left: 40px;
}

.logo img {
  height: 50px;
}

.transparent {
  background-color: transparent;
}
